%h1 Before I die...
.dashboard.clearfix
  - 6.times do |column|
    .column
      %ul
        - 10.times do |row|
          - sentence = @sentences.select{|s| s.column == column && s.row == row}.first || @board.sentences.new(column: column, row: row)
          %li= render 'item', sentence: sentence